<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<context:component-scan base-package="main" />
	<context:component-scan base-package="member" />
	<context:component-scan base-package="searchfriend" />
	<context:component-scan base-package="QnA" />
	<context:component-scan base-package="charge" />
	<context:component-scan base-package="QnA" />
	<context:component-scan base-package="board" />
	<context:component-scan base-package="friends" />

	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"
		id="beanNameViewResolver" p:order="2" />

	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"
		id="tilesViewResolver" p:order="3" />

	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer"
		id="tilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles/tile.xml</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver" p:order="9">
		<property name="prefix" value="/WEB-INF/view" />
	</bean>

	<bean class="org.apache.tomcat.jdbc.pool.DataSource" id="dataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@121.134.125.131:1521:xe" />
		<property name="username" value="tf" />
		<property name="password" value="tf" />
	</bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mapper/*</value>
			</list>
		</property>
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="TJFriends.TJF@gmail.com" />
		<property name="password" value="thefriend" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

</beans>
